
///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: icon
///*  Version: 0.2.9
///*  Description: description icon
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: icon, mixin, plugin, css.
///******************************************/
///*  Requiere: none.
///******************************************/
///*  	Content
///*
///*  1. Local variables.
///*  2. Road map.
///*  3. Base component.
///*  4. Config mixin.
///*  5. Preconfigured patterns.
///*  6. Initialized patterns.
///******************************************/
//
///* Dependencies */
@import '../_shared/_shared.less';
@import 'source-awesome.less';
@import 'source-foundation.less';
@import 'source-glyphicons.less';
//
///* 1 *//* LOCAL VARIABLES *///
.shape-local-var(){
    @dfl-family:        @icon-default-font;
    @dfl-color:         @icon-default-color;
    @dfl-bck:           @icon-default-background-color;
    @dfl-border:        @icon-default-border-color;
    @dfl-size:          @icon-default-size;
}
///* 2 *//* ROAD MAP */
// --------------------------------------------------

// --------------------------------------------------
//
///* 3 *//* BASE COMPONENT */
.shp-icon(@color; @bck-color; @border-color; @size; @inline: true; @fixed: true; @shape: none; @float: none;) {
    
    ///* icon - position *///
    .shp-display(@inline);
    .shp-float(@float);
    .shp-fixed-width(@fixed);
    
    ///* icon - form *///
    .shp-size(@size);
    .shp-shape(@bck-color, @border-color, @shape);
    .shp-color(@color);
}
//
.shp-icon-before() {
    .shp-font-family();
    -moz-transform: translate(0, 0); // ensures no half-pixel rendering in firefox
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    //-moz-osx-font-smoothing: grayscale;
    .user-select();
    text-decoration: none;
    text-transform: none;
    text-rendering: auto; // optimizelegibility throws things off #1094
    margin-left:2px;
}
//
///* 4 *//* CONFIG MIXIN */
//
///* icon - position *///
.shp-display(@opc-inline) when (@opc-inline = true) {
    display: inline-block;
    .shp-fix-position();
}

.shp-display(@opc-inline) when (@opc-inline = false) {
    display: block;
}

.shp-fix-position() when (@icon-default-font = 'glyphicon') {
    position: relative;
    top: 1px;
}
//
.shp-float(@opc-float) when (@opc-float= left) {
    float: left;
    margin: .2em .2em 0 0;
}

.shp-float(@opc-float) when (@opc-float= right) {
    float: right;
    margin: .2em 0 0 .2em;
}
//
.shp-fixed-width(@fixed)when (@fixed = true)  {
    width: 1.1em;
    margin: 0 2px;
    text-align: left;
}
//
///* icon - form *///
.shp-size(@opc-size) when not (@opc-size = inerit) {
    font-size: @opc-size*1em;
}
//
.shp-shape(@opc-bck-color, @opc-border-color, @opc-shape) when (@opc-shape = square) {
    padding: .4em;
    background-color: @opc-bck-color;
    border: 0.08em solid @opc-border-color;
    border-radius: 0;
}

.shp-shape(@opc-bck-color, @opc-border-color, @opc-shape) when (@opc-shape = radius) {
    padding: .4em;
    background-color: @opc-bck-color;
    border: 0.08em solid @opc-border-color;
    border-radius: .2em;
}

.shp-shape(@opc-bck-color, @opc-border-color, @opc-shape) when (@opc-shape = circle) {
    padding: .4em;
    margin: 5px;
    background-color: @opc-bck-color;
    border: .15em solid @opc-border-color;
    border-radius: 2em;
    box-shadow: 0 0 0 1px #000;
}
//
.shp-color(@opc-color) when not (@opc-color = inerit) {
    color: @opc-color;
}
//
///* icon - selector *///
.shp-selector(true,true,true){@selector: ~'@{icon-awesome-selector},@{icon-foundation-selector},@{icon-glyphicons-selector}';@before: ~'@{icon-awesome-selector:before},@{icon-foundation-selector}:before,@{icon-glyphicons-selector}:before';}
.shp-selector(true,true,false){@selector: ~'@{icon-awesome-selector},@{icon-foundation-selector}';@before: ~'@{icon-awesome-selector}:before,@{icon-foundation-selector}:before';}
.shp-selector(true,false,true){@selector: ~'@{icon-awesome-selector},@{icon-glyphicons-selector}';@before: ~'@{icon-awesome-selector}:before,@{icon-glyphicons-selector}:before';}
.shp-selector(false,true,true){@selector: ~'@{icon-foundation-selector},@{icon-glyphicons-selector}';@before: ~'@{icon-foundation-selector}:before,@{icon-glyphicons-selector}:before';}
.shp-selector(true,false,false){@selector: ~'@{icon-awesome-selector}';@before: ~'@{icon-awesome-selector}:before';}
.shp-selector(false,true,false){@selector: ~'@{icon-foundation-selector}';@before: ~'@{icon-foundation-selector}:before';}
.shp-selector(false,false,true){@selector: ~'@{icon-glyphicons-selector}';@before: ~'@{icon-glyphicons-selector}:before';}
//
///* 5 *//* PRECONFIGURED PATTERNS */
.shape-main(@opc-prefix: @icon-general-prefix; @opc-color: inerit; @font-size: inerit) {
    .shape-local-var();
    .shp-selector(@icon-awesome,@icon-foundation,@icon-glyphicons);

    @{selector} {
        .shp-icon(@color: @opc-color; @bck-color: @dfl-bck; @border-color: @dfl-border; @size: @font-size; @inline: true; @shape: none; @float: none);
    }

    @{before} {
        .shp-icon-before();
    }
}

.shape-largue(@opc-prefix: @icon-general-prefix; @opc-color: inerit) when (@icon-class-large = true) {
    .shape-local-var();
    .fa-6x,i[class~="@{opc-prefix}-6x"]{font-size: 6em}
    .fa-5x,i[class~="@{opc-prefix}-5x"]{font-size: 5em}
    .fa-4x,i[class~="@{opc-prefix}-4x"]{font-size: 4em}
    .fa-3x,i[class~="@{opc-prefix}-3x"]{font-size: 3em}
    .fa-2x,i[class~="@{opc-prefix}-2x"]{font-size: 2em}

    .@{opc-prefix}-2x {
        .shp-icon(@color: @opc-color; @bck-color: @dfl-bck; @border-color: @dfl-border; @size: 2; @inline: true; @shape: none; @float: none);
    }

    .@{opc-prefix}-3x {
        .shp-icon(@color: @opc-color; @bck-color: @dfl-bck; @border-color: @dfl-border; @size: 3; @inline: true; @shape: none; @float: none);
    }
}

.shape-inline(@opc-color: @icon-default-color; @opc-icon-var: @icon-user) {
    @font-size: (4em / 3);          //fa-lg
    line-height: (3em / 4);
    vertical-align: -15%;
    .shape-local-var();
    .shp-icon(@color: @opc-color; @bck-color: @dfl-bck; @border-color: @dfl-border; @size: @font-size; @inline: true; @shape: none; @float: none);

    &:before {
        content: @opc-icon-var;
    }
}
//
///* 6 *//* INITIALIZED PATTERNS */
.shape-init() {
    .shape-local-var();
    .shape-main();
    .shape-largue();
}
//
/* shape ------------- [ + ] */@state: OK;
///******************************************/
///*  	FIN
///******************************************/
