///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: color constants
///*  Version: 0.2.7
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///******************************************/
///*              GLOBALES
///*
///*  1. Default Theme.
///*  2. Scroll.
///******************************************/
///* 1 *//* DEFAULT THEME *///
@theme-initial-dark:         true;
@test-size-adjust:          false;
@overflow-vertical:         false;
@user-select:               false;
@font-nornalize-rem:        false;  //rem a 10px = true or rem = 16px (defaul) = false
//
///* 2 *//* FLEZZ SCROLL - CAUTION: include JS */
@desing-scroll-style: flezz;
@scroll-margin: true;
@scroll-bar-zoom: true;
//
@scroll-class: ~'flezz-scroll';
@scroll-contentClass: ~'scroll-content';
@scroll-paneClass: ~'scroll-bar';
@scroll-sliderClass: ~'scroll-slider';
//
@scroll-content-padding: 20px;
@scroll-bar-width: 7px;
@scroll-bar-min-width: 4px;
///******************************************/
///*  	FIN
///******************************************/