///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: settings font
///*  Version: 0.3.1
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///******************************************/
///*  	Content
///*
///*  1. General font flags.
///*  2. General icon flags.
///*  3. Default fonts.
///*  4. Font families.
///******************************************/
///* 1 *//* GENERAL FONT FLAGS *///
@star-up-font: @font-regular;
//
@family-style: normal;
@family-weight: normal;
@Font-Embedded: true;
//
@OpenSans:          true;
@Roboto:            false;
@RobotoCondensed:   false;
@SegoeUI:           false;
@RobotoSlab:        false;
@Rokkitt:           false;
//
///* 1 *//* GENERAL ICON FLAGS *///
///* include one sources */
@icon-multiple-sources:        true;
@icon-default-font:         awesome;
@icon-default-prefix:            fa;
//
///* include multiple sources */
@icon-shared-prefix:        false;
@icon-general-prefix:       icon;
//
@icon-awesome:              true;
@icon-foundation:           true;
@icon-glyphicons:           true;
//
@icon-awesome-selector:     ~'.fa';
@icon-foundation-selector:  ~'[class^="fi"]';
@icon-glyphicons-selector:  ~'[class^="gi"]';
//
///* include icon class reference */
@icon-class-reference:      true;
@icon-class-style:          boostrap;
@icon-class-large:          false;
//
///* icon options */
@icon-embedded:         true;
@icon-line-height:         1;       // normal 1.428571429; // 20/14
//
///* 2 *//* DEFAULT FONTS */
@font-Light: @OpenSansLight;
@font-regular: @OpenSansRegular;
@font-bold: @OpenSansBold;
//
///* 3 *//* FONT FAMILIES */
@OpenSansRegular: "OpenSansRegular","RobotoRegular", "Segoe UI", "Helvetica", sans-serif;
@OpenSansLight: "OpenSansLight","RobotoLight", "Segoe UI Light", "Helvetica Neue", sans-serif;
@OpenSansBold: "OpenSansBold","RobotoBold", "Segoe WP", "Helvetica", sans-serif;
//
@RobotoRegular: "RobotoRegular", "OpenSansRegular", "Segoe UI", "Helvetica", sans-serif;
@RobotoLight: "RobotoLight", "OpenSansLight", "Segoe UI Light", "Helvetica Neue", sans-serif;
@RobotoBold: "RobotoBold", "OpenSansBold", "Segoe WP", "Helvetica", sans-serif;
//
@RobotoCondensedRegular: "RobotoCondensedRegular", "RobotoRegular", "Segoe UI", sans-serif;
@RobotoCondensedLight: "RobotoCondensedLight", "RobotoLight", "Segoe UI Light", sans-serif;
@RobotoCondensedBold: "RobotoCondensedBold", "RobotoBold", "Segoe WP", sans-serif;
//
@SegoeUILight: "SegoeUILight","Segoe UI Light", "OpenSansLight", "RobotoLight", sans-serif;
@SegoeUIBold: "Segoe UI", "Segoe WP", "OpenSansBold", "RobotoBold", sans-serif;
//
@RobotoSlabRegular: "RobotoSlabRegular", "Georgia", "Garamond", "Courier", serif;
@RobotoSlabLight: "RobotoSlabLight", "Garamond", "Georgia", "Courier", serif;
@RobotoSlabBold: "RobotoSlabBold", "Georgia", "Garamond", "Courier", serif;
//
@RokkittRegular: "RokkittRegular", "RobotoSlabRegular", "Georgia", "Garamond", serif;
@RokkittBold: "RokkittBold", "RobotoSlabBold", "Garamond", "Georgia", serif;
///******************************************/
///*  	FIN
///******************************************/