///* Unconfig Core *///
@import '../mixin/_config.core.less';
//
///* Docs Style variables  *///
@star-up-font: @font-Light;
@theme-initial-dark: false;
@overflow-vertical: true;
@light-background: #fafafa; 

///* Docs config Core *///
.flezz-font-init();
.flezz-icon-init();
.flezz-color-init();
.layout-init();
//
///* Docs Style aditional class *///
section.test {
    width: calc(100% ~'-' @scroll-width + @sm-gutter*4);
    padding: 0 2*@sm-gutter @sm-gutter;
    background-color: #fafaee;border: 2px dashed #000000;
    
    h2.title {
        height:2.5em;line-height: 2.5; white-space:nowrap;overflow:hidden;
        margin: @sm-gutter -@sm-gutter 2*@sm-gutter;padding-right: 40px;
        text-align: right;
        background-color: black;color: white;
    }
}

@media screen and (min-width: @md) {
    section.test {
        max-width: 700px;
        margin: 2*@md-gutter auto;
    }
}

@media screen and (min-width: @lg) {
    section.test {
        padding: 0 2*@lg-gutter @lg-gutter;

        h2.title {
            font-family: 'OpenSansRegular';
            margin-left: -3*@sm-gutter;
            margin-right: -3*@sm-gutter;
            text-transform: uppercase;
        }
    }
}

.test:last-of-type {
    margin-bottom: 50%;
}
.test:first-of-type {
    margin-top: 50px;
}
li {display: inline-block;}
//